QMainWindow {
    background-color: #ffffff;
    color: #000000;
}

QLabel {
    color: #000000;
}

QPushButton {
    background-color: #dddddd;
    color: #000000;
    border: none;
}

QPushButton:hover {
    background-color: #cccccc;
}

QListWidget {
    background-color: #ffffff;
    color: #000000;
}

QToolButton {
    background-color: #dddddd;
    color: #000000;
}

QLineEdit {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}
